{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Is there a new bookstore branch to add?</h1>
  <p>Add a new library with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.city.label }} {{ form.city() }}
      {{ form.state.label }} {{ form.state() }}
      {{ form.postal_code.label }} {{ form.postal_code() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
